Fieldml_0.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="fieldml"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:fmlmeta="http://www.fieldml.org/metadata/0.3#"
    >
    
    <xs:import schemaLocation="Fieldml_0.3_meta.xsd" namespace="http://www.fieldml.org/metadata/0.3#"/>

    <xs:complexType name="FieldmlObject_Type">
        <xs:complexContent >
            <xs:extension base="fmlmeta:FieldmlRdfTargetType">
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BindMapEntry_Type">
        <xs:attribute name="variable" type="xs:string" />
        <xs:attribute name="source" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="BindMapIndexEntry_Type">
        <xs:attribute name="variable" type="xs:string" />
        <xs:attribute name="indexNumber" type="xs:positiveInteger" />
    </xs:complexType>

    <xs:complexType name="BindMap_Type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Bind" type="BindMapEntry_Type" />
            <xs:element name="BindIndex" type="BindMapIndexEntry_Type" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ComponentEvaluatorsEntry_Type">
        <xs:attribute name="number" type="xs:positiveInteger" />
        <xs:attribute name="evaluator" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ComponentEvaluators_Type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="ComponentEvaluator" type="ComponentEvaluatorsEntry_Type" />
        </xs:choice>
        <xs:attribute name="default" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="SimpleMapEntry_Type">
        <xs:attribute name="key" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="SimpleMap_Type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="SimpleMapEntry" type="SimpleMapEntry_Type" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ElementMapEntry_Type">
        <xs:attribute name="number" type="xs:string" />
        <xs:attribute name="evaluator" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ElementMap_Type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="ElementEvaluator" type="ElementMapEntry_Type" />
        </xs:choice>
        <xs:attribute name="default" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="DefaultSimpleMap_Type">
        <xs:complexContent>
            <xs:extension base="SimpleMap_Type">
                <xs:attribute name="default" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VariableListEntry_Type">
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="VariableList_Type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Variable" type="VariableListEntry_Type" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="EvaluatorListEntry_Type">
        <xs:attribute name="evaluator" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="IndexEvaluatorList_Type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="IndexEvaluator" type="EvaluatorListEntry_Type" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="MemberRange_Type">
        <xs:attribute name="min" type="xs:nonNegativeInteger" />
        <xs:attribute name="max" type="xs:nonNegativeInteger" />
        <xs:attribute name="stride" type="xs:positiveInteger" use="optional"/>
    </xs:complexType>

    <xs:complexType name="MemberList_Type">
      <xs:simpleContent>
        <xs:extension base="xs:string">
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="EnsembleMembers_Type">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="MemberList" type="MemberList_Type" />
            <xs:element name="MemberRange" type="MemberRange_Type" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="EnsembleType_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlObject_Type">
                <xs:sequence>
                    <xs:element name="Members" type="EnsembleMembers_Type" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="isComponentEnsemble" type="xs:boolean" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ContinuousType_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlObject_Type">
                <xs:attribute name="componentEnsemble" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MeshType_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlObject_Type">
                <xs:sequence>
                    <xs:element name="Elements" type="EnsembleMembers_Type" minOccurs="1" maxOccurs="1" />
                    <xs:element name="Shapes" type="DefaultSimpleMap_Type" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="xiComponent" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FieldmlEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlObject_Type">
                <xs:sequence>
                    <xs:element name="Variables" type="VariableList_Type" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="valueType" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AbstractEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlEvaluator_Type" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ExternalEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlEvaluator_Type" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReferenceEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlEvaluator_Type">
                <xs:sequence>
                    <xs:element name="Bindings" type="BindMap_Type" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="evaluator" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PiecewiseEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlEvaluator_Type">
                <xs:sequence>
                    <xs:element name="Bindings" type="BindMap_Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ElementEvaluators" type="ElementMap_Type" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FileData_Type">
        <xs:attribute name="file" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="offset" type="xs:nonNegativeInteger" />
    </xs:complexType>

    <xs:complexType name="InlineData_Type">
      <xs:simpleContent>
        <xs:extension base="xs:string">
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Swizzle_Type">
      <xs:simpleContent>
        <xs:extension base="xs:string">
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DataLocation_Type">
        <xs:choice>
            <xs:element name="FileData" type="FileData_Type" />
            <xs:element name="InlineData" type="InlineData_Type" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="SemidenseData_Type">
        <xs:sequence>
            <xs:element name="DenseIndexes" type="IndexEvaluatorList_Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="SparseIndexes" type="IndexEvaluatorList_Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="DataLocation" type="DataLocation_Type" minOccurs="1" maxOccurs="1" />
            <xs:element name="Swizzle" type="Swizzle_Type" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParameterEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlEvaluator_Type">
                <xs:choice>
                    <xs:element name="SemidenseData" type="SemidenseData_Type" minOccurs="1" maxOccurs="1" />
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AggregateEvaluator_Type">
        <xs:complexContent>
            <xs:extension base="FieldmlEvaluator_Type">
                <xs:sequence>
                    <xs:element name="Bindings" type="BindMap_Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ComponentEvaluators" type="ComponentEvaluators_Type" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Region_Type">
        <xs:complexContent >
            <xs:extension base="fmlmeta:FieldmlRdfTargetType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="EnsembleType" type="EnsembleType_Type" />
                    <xs:element name="ContinuousType" type="ContinuousType_Type" />
                    <xs:element name="MeshType" type="MeshType_Type" />
                    <xs:element name="AbstractEvaluator" type="AbstractEvaluator_Type" />
                    <xs:element name="ExternalEvaluator" type="ExternalEvaluator_Type" />
                    <xs:element name="ReferenceEvaluator" type="ReferenceEvaluator_Type" />
                    <xs:element name="PiecewiseEvaluator" type="PiecewiseEvaluator_Type" />
                    <xs:element name="ParametersEvaluator" type="ParameterEvaluator_Type" />
                    <xs:element name="AggregateEvaluator" type="AggregateEvaluator_Type" />
                </xs:choice>
                <xs:attribute name="name" type="xs:string" />
                <xs:attribute name="library" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Fieldml_Type">
        <xs:complexContent >
            <xs:extension base="fmlmeta:FieldmlRdfTargetType">
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element name="Region" type="Region_Type" />
                </xs:choice>
                <xs:attribute name="version" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Fieldml" type="Fieldml_Type"/>
    
</xs:schema>
